.Answers {
  text-align: center;
  color: rgb(46, 35, 7);
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 600px;
  margin-bottom: 50px;
}

.Answers input {
  width: 300px;
  height: 25px;
  margin-top: 30px;
  border-radius: 5px;
  border-width: 0px;
  background-color: rgb(170, 140, 247);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  text-align: center;
}

.crystal-ball {
  background-color: rgba(0, 0, 0, 0.372);
  border: 1px solid black;
  border-radius: 50%;
  width: 350px;
  height: 350px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

.content {
  background: rgba(0, 0, 0, 0);
  width: 70%;
  height: 40%;
  margin: 43% auto;
}

.answer {
  margin: 0 auto;
  letter-spacing: 1px;
  font-family: fantasy;
  color: rgb(237, 217, 1);
  font-size: 25px;
  font-weight: 500;
}
.error {
  margin: 0 auto;
  border-radius: 50%;
  color: rgb(237, 217, 1);
  letter-spacing: 1px;
  font-family: fantasy;
  font-size: 25px;
  font-weight: 500;
}

.Answers button {
  letter-spacing: 1px;
  font-family: fantasy;
  color: rgb(237, 217, 1);
  font-size: 25px;
  font-weight: 500;
  background: none;
  border: none;
}
