.App {
  text-align: center;
}

.App-header {
  background: linear-gradient(
    90deg,
    rgb(17, 1, 41) 0%,
    rgb(58, 9, 121) 44%,
    rgb(135, 22, 248) 100%
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(170, 140, 247);
}

h1 {
  margin-top: 50px;
}

h3 {
  color: rgba(170, 140, 247, 0.544);
}
